:root {
  --font-sm: clamp(0.8rem, 0.56vi + 0.67rem, 0.94rem);
  --font-base: clamp(1rem, 1.02vi + 0.76rem, 1.25rem);
  --font-md: clamp(1.25rem, 1.69vi + 0.85rem, 1.67rem);
  --font-lg: clamp(1.56rem, 2.68vi + 0.93rem, 2.22rem);

  /* Colors */
  --cl-accent: 245 166 55;
  --cl-light: 248 245 245;
  --cl-dark: 42 42 42;
  --cl-white: 255 255 255;
  --cl-black: 0 0 0;
  --cl-error: 255 0 0;
  --cl-success: 0 128 1;

  /* Borders */
  --radius-sm: 0.5rem;
  --radius-base: 1rem;
  --radius-circle: 50%;

  /* Shadow */
  --shadow-sm: rgb(var(--cl-black) / 16%) 0px 1px 4px;
  --shadow-md: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --shadow-card: rgb(var(--cl-black) / 10%) 0px 4px 6px -1px,
    rgb(var(--cl-black) / 6%) 0px 2px 4px -1px;
  --shadow-card-hover: rgb(var(--cl-black) / 10%) 0px 20px 25px -5px,
    rgb(var(--cl-black) / 4%) 0px 10px 10px -5px;

  /* Others */
  --trns: 150ms ease-in;
  --bg-img: linear-gradient(#e5e7eb 1px, #0000 0),
    linear-gradient(90deg, #e5e7eb 1px, #0000 0);
}

body {
  padding-bottom: 3rem;
  font-family: 'JetBrains Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: var(--font-base);
  /* color: rgb(var(--cl-white)); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: var(--bg-img);
  background-size: 100px 100px;
  background-position: center;
}

::selection {
  color: rgb(var(--cl-white));
  background-color: rgb(var(--cl-accent));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  padding-block: 1.5rem;
  font-size: var(--font-lg);
  font-weight: 200;
  letter-spacing: 0.2em;
  text-align: center;
}
h2 {
  font-size: var(--font-md);
}

button {
  cursor: pointer;
}

.container {
  min-width: 375px;
  max-width: clamp(375px, 80%, 768px);
  padding-inline: 1rem;
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}
